*{
    padding: 0;
    margin: 0;
    font-family: "Luckiest Guy";
}

body{
    background-image: url(images/Document\ To\ Do\ list\ beige\,\ rouge\ et\ violet\ mignon\ fleur.png);
    height: 100vh;
}